<!DOCTYPE html>
<html>
<head>
    <title>Chinese Zodiac Sign Finder</title>
</head>
<body>
    <h1>Chinese Zodiac Sign Finder</h1>
    <p>Enter a Gregorian date to find out the corresponding Chinese zodiac sign.</p>
    <form action="/" method="post">
        Day: <input type="number" name="day" required><br>
        Month: <input type="number" name="month" required><br>
        Year: <input type="number" name="year" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>